In [11]:
# Import dependencies and read in file
import pandas as pd
jeopardy_questions_df = pd.read_json (r'JEOPARDY_QUESTIONS1.json')
jeopardy_questions_df

,category,air_date,question,value,answer,round,show_number
0,HISTORY,2004-12-31,"'For the last 8 years of his life, Galileo was...",$200,Copernicus,Jeopardy!,4680
1,ESPN's TOP 10 ALL-TIME ATHLETES,2004-12-31,'No. 2: 1912 Olympian; football star at Carlis...,$200,Jim Thorpe,Jeopardy!,4680
2,EVERYBODY TALKS ABOUT IT...,2004-12-31,'The city of Yuma in this state has a record a...,$200,Arizona,Jeopardy!,4680
3,THE COMPANY LINE,2004-12-31,"'In 1963, live on ""The Art Linkletter Show"", t...",$200,McDonald\'s,Jeopardy!,4680
4,EPITAPHS & TRIBUTES,2004-12-31,"'Signer of the Dec. of Indep., framer of the C...",$200,John Adams,Jeopardy!,4680
...,...,...,...,...,...,...,...
216925,RIDDLE ME THIS,2006-05-11,'This Puccini opera turns on the solution to 3...,$2000,Turandot,Double Jeopardy!,4999
216926,"""T"" BIRDS",2006-05-11,'In North America this term is properly applie...,$2000,a titmouse,Double Jeopardy!,4999
216927,AUTHORS IN THEIR YOUTH,2006-05-11,"'In Penny Lane, where this ""Hellraiser"" grew u...",$2000,Clive Barker,Double Jeopardy!,4999
216928,QUOTATIONS,2006-05-11,"'From Ft. Sill, Okla. he made the plea, Arizon...",$2000,Geronimo,Double Jeopardy!,4999
216929,HISTORIC NAMES,2006-05-11,'A silent movie title includes the last name o...,None,Grigori Alexandrovich Potemkin,Final Jeopardy!,4999

In [12]:
# Checking unique categories
jeopardy_questions_df.category.value_counts()

BEFORE & AFTER              547
SCIENCE                     519
LITERATURE                  496
AMERICAN HISTORY            418
POTPOURRI                   401
                           ...
FOOD LORE                     1
POP MUSIC FIRSTS              1
BRITISH LEGENDARY POETRY      1
FROM PLAY TO BALLET           1
20th CENTURY NEWSMAKERS       1
Name: category, Length: 27995, dtype: int64

In [13]:
# Dropping unneccessary columns
jeopardy_questions_df.drop(['air_date', 'value', 'round', 'show_number'], axis = 1, inplace = True)
jeopardy_questions_df

,category,question,answer
0,HISTORY,"'For the last 8 years of his life, Galileo was...",Copernicus
1,ESPN's TOP 10 ALL-TIME ATHLETES,'No. 2: 1912 Olympian; football star at Carlis...,Jim Thorpe
2,EVERYBODY TALKS ABOUT IT...,'The city of Yuma in this state has a record a...,Arizona
3,THE COMPANY LINE,"'In 1963, live on ""The Art Linkletter Show"", t...",McDonald\'s
4,EPITAPHS & TRIBUTES,"'Signer of the Dec. of Indep., framer of the C...",John Adams
...,...,...,...
216925,RIDDLE ME THIS,'This Puccini opera turns on the solution to 3...,Turandot
216926,"""T"" BIRDS",'In North America this term is properly applie...,a titmouse
216927,AUTHORS IN THEIR YOUTH,"'In Penny Lane, where this ""Hellraiser"" grew u...",Clive Barker
216928,QUOTATIONS,"'From Ft. Sill, Okla. he made the plea, Arizon...",Geronimo
216929,HISTORIC NAMES,'A silent movie title includes the last name o...,Grigori Alexandrovich Potemkin

In [14]:
jeopardy_questions_df.duplicated(subset= 'answer')

0         False
1         False
2         False
3         False
4         False
          ...
216925     True
216926    False
216927     True
216928     True
216929    False
Length: 216930, dtype: bool

In [15]:
jeopardy_questions_df.question.value_counts()

'[audio clue]'                                                                                                         17
'[video clue]'                                                                                                         14
'(audio clue)'                                                                                                          5
'[filler]'                                                                                                              5
'Hainan'                                                                                                                4
                                                                                                                       ..
'Philippe of this family is Chief Ocean Correspondent for Animal Planet'                                                1
'Duude!  You were awesome as ultra-stoner Jeff Spicoli in this movie'                                                   1
'The unluckiness of Friday the 13th may date from the suppression of this order of knights on Fri., Oct. 13, 1307'      1
'Notable Nepalese Norgay'                                                                                               1
'The success of "The Philadelphia Story" as a play & a film helped her shake the reputation of "Box Office Poison"'     1
Name: question, Length: 216132, dtype: int64

In [17]:
# Clean up/remove questions like 'audio clue', etc
drop_audio = jeopardy_questions_df[ jeopardy_questions_df['question'] == '[audio clue]' ].index
jeopardy_questions_df.drop(drop_audio, inplace = True)
jeopardy_questions_df.question.value_counts()

'[audio clue]'                                                                                                         17
'[video clue]'                                                                                                         14
'(audio clue)'                                                                                                          5
'[filler]'                                                                                                              5
'Hainan'                                                                                                                4
                                                                                                                       ..
'Philippe of this family is Chief Ocean Correspondent for Animal Planet'                                                1
'Duude!  You were awesome as ultra-stoner Jeff Spicoli in this movie'                                                   1
'The unluckiness of Friday the 13th may date from the suppression of this order of knights on Fri., Oct. 13, 1307'      1
'Notable Nepalese Norgay'                                                                                               1
'The success of "The Philadelphia Story" as a play & a film helped her shake the reputation of "Box Office Poison"'     1
Name: question, Length: 216132, dtype: int64

In [1]:
# Welcome to Jeopardy, enter contestants names

In [2]:
# Are you ready? Randomize 6 categories for 1st round and order 1-6

In [ ]:
# Round 1 scores 100 and progress based on card put down

In [ ]:
# Click a category
# "Is this a standard/double/double jeopardy?"
# generate a random question and start a timer

In [ ]:
# Return turn and scores after each round, 5 rounds

In [3]:
# Double jeopardy repeats above and selects 6 categories and not include categories selected in 1st round

In [4]:
# Final jeopardy: select one random category
# each contestant wagers (timer)
# enter in wagers
# generate question from cateegory(start timer)
# Play jeopardy music
# reveal answer
# generate "Did 'x' get it right?" until all contestants have been accounted for

In [ ]:
# Finalized score